
body {
    background-color: #0c1430;
    margin: 0;
    padding: 0;
    font-family: Georgia;
}


#banner {
  background-image: url(https://gifdb.com/images/high/frozen-princess-anna-freezing-mm7fb3l8y6z29azs.gif);
  max-width: 100%;
  height: 40vh;
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
}

.glow {
  font-size: 45px;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #BCCCDC, 0 0 40px #BCCCDC, 0 0 50px #BCCCDC, 0 0 60px #BCCCDC, 0 0 70px #BCCCDC;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 22px 0;
  text-align: center;
  font-size: 20px;
  background: rgba(0, 31, 63, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  

  position: sticky;
  top: 0;
  z-index: 1000;
  
  transition: background 0.3s ease, backdrop-filter 0.3s ease;
}

ul li {
  display: inline-block;
  float: none;
}

ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  padding: 14px 20px;

  border-radius: 250px;
  position: relative;

  text-shadow:
    0 0 4px #ffffff,
    0 0 8px #00bfff;


  transition: 
    background 0.5s ease,
    box-shadow 0.5s ease,
    color 0.3s ease;}

ul li a:hover {
  background: rgba(58, 109, 140, 0.35);
  box-shadow: 0 0 8px #6ecfff, 0 0 16px #6ecfff;
  text-shadow: 0 0 6px #ffffff, 0 0 12px #6ecfff;
  
}
.content {
  padding: 20px 22px;
  text-align: center;
}

.content1 {
  padding: 20px 22px;
  text-align: left;
}

.video {
  display: block;
  margin: 20px auto;
  max-width: 100%;
}

.hehe {
  font-family: Georgia;
  color: #ffffff;
  padding: 2px 22px;
  text-shadow: 0 0 10px #8ab9ff;
  
}
.card {
    background: #213a63;
    padding: 22px;
    margin-bottom: 25px;
    border-radius: 14px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    line-height: 1.6;

    display: flex;
    align-items: center;
    gap: 20px;
}

.card1 {
    background: #213a63;
    padding: 22px;
    margin-bottom: 25px;
    border-radius: 14px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);

}

img {
    width: 100%;
    max-width: 420px;
    border-radius: 20px;
    transition: 0.4s;
    float: left;
}

img1 {
    width: 100%;
    max-width: 420px;
    height: 1500px;
    border-radius: 20px;
    transition: 0.4s;
    float: left;
}

 .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 6px;
        padding: 6px;
    }

    .gallery img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        transition: transform 0.3s ease;}

    .gallery img:hover {
        transform: scale(1.05);}


